$color-bg-default-1: #121314;
$color-bg-default-2: #191A1B;
$color-bg-default-3: #2B2C2D;
$color-bg-default-4: #3E3F40;
$color-bg-default-5: #434343;
$color-bg-default-6: #E8E8E8;
$color-bg-active-1: #2B2C2D;
$color-bg-active-hover-1: #323334;
$color-bg-hover-1: #191A1B;
$color-bg-hover-2: #323334;
$color-bg-hover-4: #494A4A;
$color-fg-1: #FFFFFF;
$color-fg-2: #D4D4D5;
$color-fg-3: #8B8C8E;
$color-fg-4: #727272;
$color-fg-5: #5F5F5F;
$color-fg-6: #121314;
$color-outline-primary: #272829;
$color-outline-secondary: #5F5F5F;
$color-surface-primary: #121314;
$color-surface-secondary: #1E1F20;
$color-notes-bg-blue: #272A2D;
$color-notes-bg-green: #282C2D;
$color-notes-bg-yellow: #2D2D27;
$color-notes-bg-red: #2C262C;
$color-notes-outline-blue: #323A41;
$color-notes-outline-green: #343F42;
$color-notes-outline-yellow: #434435;
$color-notes-outline-red: #402F3F;
$color-system-default-brand: #387FEB;
$color-system-default-red: #EB4B63;
$color-system-default-yellow: #EB6600;
$color-system-default-green: #008830;
$color-system-hover-brand: #629DF8;
$color-system-hover-red: #EF6C80;
$color-labels-grey: #D4D4D5;
$color-labels-red: #DD5576;
$color-labels-yellow: #E4BE01;
$color-labels-green: #619D01;
$color-labels-teal: #00997D;
$color-labels-cerulean: #1991D2;
$color-labels-blue: #5481FC;
$color-grey-98: #fafafa;
$box-shadow-button-40px: 0px 1px 2px 0px rgba(0,0,0,0.12),0px 1px 2px 0px rgba(0,0,0,0.12);
$box-shadow-modal-big: 0px 0px 1px 0px rgba(0,0,0,0.2),0px 20px 50px 0px rgba(0,0,0,0.2);
$box-shadow-modal-small: 0px 1px 0px 0px rgba(0,0,0,0.2),0px 10px 20px 0px rgba(0,0,0,0.15),0px 0px 1px 0px rgba(0,0,0,0.2),0px 10px 20px 0px rgba(0,0,0,0.15);
$border-radius-2: 2;
$border-radius-4: 4;
$border-radius-6: 6;
$border-radius-8: 8;
$border-radius-12: 12;
$border-width-1: 1;
$font-size-11: 11;
$font-size-12: 12;
$font-size-13: 13;
$font-size-14: 14;
$font-size-15: 15;
$font-size-16: 16;
$font-size-17: 17;
$font-size-20: 20;
$font-size-21: 21;
$font-family-inter: Inter;
$font-weight-regular: Regular;
$font-weight-medium: Medium;
$font-weight-semi-bold: Semi Bold;
$font-weight-bold: Bold;
$font-line-height-27: 27;
$font-line-height-unset: unset;
$font-letter-spacing-04: -0.04%;
$font-letter-spacing-2: -2%;
$font-letter-spacing-009: -0.09%;
$font-letter-spacing-1: -1%;
$font-text-case-none: none;
$font-text-case-uppercase: uppercase;
$font-text-decoration-none: none;
$font-paragraph-spacing-0: 0;
$space-2: 2;
$space-4: 4;
$space-8: 8;
$space-12: 12;
$space-16: 16;
$space-24: 24;
$size-16: 16;
$size-20: 20;
$size-24: 24;
$opacity-25: 0.25;