@mixin font-label-13 {
   font-family: Inter;
   font-weight: 500;
   line-height: unset;
   font-size: 13px;
   text-decoration: none;
   text-transform: none;
   letter-spacing: -0.04%;
}
@mixin font-headline-13 {
   font-family: Inter;
   font-weight: 600;
   line-height: unset;
   font-size: 13px;
   text-decoration: none;
   text-transform: none;
   letter-spacing: -0.09%;
}
@mixin font-title-12 {
   font-family: Inter;
   font-weight: 500;
   line-height: unset;
   font-size: 12px;
   text-decoration: none;
   text-transform: none;
   letter-spacing: -0.04%;
}
@mixin font-title-14 {
   font-family: Inter;
   font-weight: 600;
   line-height: unset;
   font-size: 14px;
   text-decoration: none;
   text-transform: none;
   letter-spacing: -0.09%;
}
@mixin font-body-13 {
   font-family: Inter;
   font-weight: 400;
   line-height: 27px;
   font-size: 13px;
   text-decoration: none;
   text-transform: none;
   letter-spacing: -0.09%;
}