@mixin web-font-title-18 {
   font-family: Inter;
   font-weight: 600;
   line-height: 27px;
   font-size: 18px;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: -0.09%;
}
@mixin web-font-title-64 {
   font-family: Inter;
   font-weight: 600;
   line-height: 95px;
   font-size: 64px;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: -0.09%;
}