@import 'assets/styles/main.scss';
@import 'assets/styles/mixins.scss';

.section {
    position: relative;
    width: 100vw;
    height: 740px;
    background: $global-color-common-black;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        &_subtitle {
            @include web-font-title-18;
            text-align: center;
            color: $global-color-common-white;
        }

        &_title {
            @include web-font-title-64;
            width: 734px;
            text-align: center;
            color: $global-color-common-white;
        }
    }

    &__statistic_list {
        position: absolute;
        height: 300px;
        max-width: 1110px;
        width: 65%;
        bottom: -150px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        background: #F7F7F7;

        &__item {
            width: 190px;
            height: 186px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &_title {
                font-weight: 500;
                font-size: 72px;
                line-height: 107px;
                text-align: center;
                color: $global-color-common-red;
            }

            &_subtitle {
                font-weight: 500;
                font-size: 36px;
                line-height: 53px;
                text-transform: uppercase;
                color: $global-color-common-black;
            }

            &_descr {
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                text-align: center;
                color: $global-color-common-gray;
            }


        }
    }


}